body {
    background-image: url('/images/Фон 1.jpg'); /* Путь к картинке */
    background-size: cover; /* Картинка растянется на весь экран */
    background-position: center; /* Центрируем */
    background-repeat: no-repeat; /* Запрещаем повторение */
    background-attachment: fixed;
}
